<% if flash[:notice] %>
  <p style="color: #00ff00;"><%= flash[:notice] %></p>
<% end %>

<body>
    <% if user_signed_in? %>
  <div class="container">  <!-- この行を追加 -->
  <div class="row">      <!-- この行を追加 -->
  <div class="col-xs-3">
    <h1>User info</h1>
      <!--後で付け加える-->
      <p>
        <strong>Image</strong>
      </p>
        <%= attachment_image_tag @book.user, :profile_image, format: 'jpeg', fallback: "no_image.jpg", size: "100x100" %>
        <table class="table">
            <tbody>
              <tr>
              	  <th>name</th>
              	  <th><%= @book.user.name %></th>
              </tr>
              <tr>
            	  <th>introduction</th>
            	  <th><%= @book.user.introduction %></th>
              </tr>
            </tbody>
         </table>


          <p><%= link_to "Profile", user_path(@book.user), class: "pull-right" %></p>

      <h3>New book</h3>

      <%= render 'error_form', locals: { book: @book } %>

      <%= form_with model:@book, local:true do |f| %>

      <h4>title</h4>

      <%= f.text_field :title %>

      <h4>body</h4>

      <%= f.text_area :body %><br>

      <%= f.submit 'Create Book' %>

      <% end %>

    <% end %>
    </div>

<div class="col-xs-9">

<h1>Book detail</h1>

<table class="table table-striped col-xs-3">
        <tr>
          <th></th>
          <th></th>
          <th></th>
          <th></th>
          <th></th>
      </tr>

    <tr>
      <td>
        <%= link_to user_path(@book.user) do %>
        <%= attachment_image_tag @book.user, :profile_image, format: 'jpeg', fallback: "no_image.jpg", size: "20x20" %>
        <%= @book.user.name %>
        <% end %>
        </td>
        <td>
        <%= link_to book_path(@book) do %>
        <%= @book.title %>
        <% end %>
        </td>
        <td><%= @book.body %></td>
        <td>
          <% if @book.user == current_user %>
           <%= link_to "Edit", edit_book_path, class: "btn btn-success" %>
          <% end %>
        </td>
        <td>
          <% if @book.user == current_user %>
           <%= link_to "Destroy", book_path(@book), method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-danger" %>
          <% end %>
        </td>
    </tr>

</table>

</div>
</div>
</div>



